* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e3e3e3;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #e3e3e3;
}

a:hover {
  border-bottom: none;
}

/* LAYOUT  */
.main-container {
  max-width: 950px;
  margin: 0 auto;
}

/* Components */
.header-container {
  width: 100%;
  height: 65px;
  background-color: #ff7f00;
}

.header-container .logo {
  width: 133px;
}

.main-nav .nav-item {
  width: 80px;
  height: 65px;
  align-items: center;
}

.main-nav .nav-item:hover {
  color: #040a2c;
  box-shadow: inset 0 -6px 0 #040a2c;
}

.hamburger-btn {
  display: none;
  margin-inline-end: 3px;
  background-color: #ff7f00;
  font-size: 2rem;
  color: #ffffff;
}

.filter-section {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
}

.filter-container {
  line-height: 120px;
}

.keywords-list .key-item {
  margin-inline-start: 20px;
  color: #040a2c;
  cursor: pointer;
}

.img-gallery-container {
  width: 100%;
  background-color: #e3e3e3;
}

.img-gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 300px;
  gap: 10px;
}

.img-gallery .gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meme-editor-container {
  display: none;
}

.editor {
  width: 373px;
  margin-left: auto;
  margin-right: auto;
}

.editor .txt-input {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}

.editor .editor-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 5px;
  cursor: pointer;
}

.editor .btn-icon {
  width: 32px;
}

.editor .input-font-family {
  height: 50px;
  flex: 1;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}

.editor .share-btn {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #ff7f00;
  color: #e3e3e3;
  cursor: pointer;
}

.footer-container {
  width: 100%;
  height: 207px;
  margin-top: 20px;
  background-color: #ff7f00;
  color: #e3e3e3;
}

.footer-container .logo {
  width: 20%;
}

/* HELPERS */

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* button helpers */

.clean-button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* medium breakpoint */
@media (max-width: 970px) {
  .main-container {
    max-width: 800px;
  }

  .img-gallery {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
  }
}

/* Editor breakpoint */
@media (max-width: 840px) {
  .main-container {
    max-width: 700px;
  }

  .meme-editor-container {
    flex-direction: column;
  }

  .canvas-container {
    margin: 10px auto 20px auto;
  }

  .editor {
    width: 329px;
  }

  .editor .txt-input {
    height: 40px;
  }

  .editor .editor-btn {
    width: 40px;
    height: 40px;
  }

  .editor .btn-icon {
    width: 26px;
  }

  .editor .input-font-family {
    height: 40px;
  }

  .editor .share-btn {
    height: 40px;
  }
}

@media (max-width: 750px) {
  .main-container {
    max-width: 600px;
  }
}

@media (max-width: 630px) {
  .main-container {
    max-width: 550px;
  }
}

/* mobile breakpoint */
@media (max-width: 580px) {
  .main-container {
    max-width: 330px;
  }

  .hamburger-btn {
    display: block;
  }

  .main-nav {
    position: absolute;
    right: 0;
    top: 65px;
    flex-direction: column;
    width: 100%;
    background-color: #ff7f00;
    box-shadow: none;
    visibility: hidden;
  }

  body.menu-open .main-nav {
    visibility: visible;
  }

  .main-nav .nav-item {
    width: 100%;
    box-shadow: none;
    justify-content: flex-start;
    align-items: center;
  }
  .main-nav .nav-line {
    display: none;
  }
  .filter-section {
    height: 100px;
  }
  .filter-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .img-gallery {
    grid-template-columns: repeat(auto-fit, 150px);
    grid-auto-rows: 150px;
    gap: 5px;
  }
}
